@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
  
body, html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 10px 10px 20px;
}

.v-application ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.v-application a[href] {
  text-decoration: none;
  color: var(--light-blue);
}